:root {
  --primary: #d7262e;
  --primary-dark: #b91c1c;

  --secondary: #16a34a;
  --danger: #dc2626;
  --warning: #f59e0b;

  --dark: #202226;
  --sidebar: #25272c;
  --sidebar-hover: #34373d;

  --background: #f4f5f6;
  --card: #ffffff;

  --text-main: #202226;
  --text-muted: #6b7280;

  --border: #e2e4e7;

  --shadow:
    0 8px 24px
    rgba(32, 34, 38, 0.08);

  --radius: 14px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background);
  color: var(--text-main);
}